<h1>-</h1>

<div class="container border mt-5">
  <h2 class="h2">Datos de registro</h2>

  <div class="borde">

  <!-- <form class="row g-3"> -->
    <div class="col-md-6 py-4">
      <div class="form-group">
        <label for="exampleInputEmail1"
          >Fecha <span class="text-danger">*</span></label
        >
        <input
          type="date"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Nombre (s)"
        />
      </div>
    </div>

    <div class="col-md-6 py-4">
      <div class="form-group">
        <label for="inputState"
          >Horario <span class="text-danger">*</span></label
        >
        <select id="inputState" class="form-control">
          <option selected>Selecciona una hora</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>

 

    <div class="row radio-flex">
      <div class="col-6">
        <label>
          <input
            type="radio"
            name="tipo"
            value="reunion"

          />
          Reunión
        </label>
      </div>
      <div class="col-6">
        <label>
          <input
            type="radio"
            name="tipo"
            value="audiencia"
          />
          Audiencia
        </label>
      </div>
    </div>

    <h4 class="text-center">
      Personal de la(s) Unidad(es) Responsable(s) que atenderá la reunión o
      audiencia.
    </h4>
    <p class="text-center">(Maximo 8 personas)</p>
   
  <!-- </form> -->

  <!-- <div class="my-5">
  
    <button 
        type="button" 
        data-toggle="modal"
        data-target="#exampleModal"
        data-whatever="@mdo" 
        class="btn btn-primary btn-lg btn-block">Agregar al personal</button>
</div> -->


<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Nombre completo</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios; let  i = index" >
      <!-- <th scope="row">{{usuario.id}}</th> -->
      <td>{{usuario}}</td>
      <td>
        <div class="btns-flex">
          <div class="btn-margin">
          </div>
          <button class="btn btn-primary btn-sm" type="button" (click)="eliminarUsuario(usuario)">
            Eliminar
          </button>
        </div>
      </td>

    </tr>
    
  </tbody>
</table>


<select [(ngModel)]="selectedOption" class="form-control margin-select">
  <option value="">Selecciona a un participante</option>
  <option value="Carlos ballarta">Carlos Ballarta</option>
  <option value="Raul Jimenez">Raul Jimenez</option>
  <option value="Santiago Gimenez">Santiago Gimenez</option>
  <option value="Matias Cervantes">Matias Cervantes</option>
  <option value="Luis Cortez">Luis Cortez</option>
  <option value="Maria Bernal">Maria Bernal</option>
  <option value="Rosario Meneses">Rosario Meneses</option>
  <option value="Pedro Aquino">Pedro Aquino</option>
</select>

<div class="mensaje-alerta" *ngIf="usuarios.length >= 8">
  <p class="alerta">No se pueden agregar más de 8 participantes</p>
</div>


<button type="button" class="btn btn-primary btn-agregar" (click)="agregarUsuario()">Agregar</button>


  <div class="checkbox">
    <label>
      <input type="checkbox" value="declaro">
      Declaro que los datos para llevar a acabo la reunión son correctos y tengo el conocimiento de que estos no podrán ser modificados una vez que sean agendados.
    </label>
</div>





  <div class="form-group btn-enviar">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-primary pull-right" type="submit">Enviar</button>
    </div>
</div>


</div>

<!-- En tu componente.html -->
<!-- <button (click)="agregarUsuario()">Agregar Usuario</button> -->


<h1>-</h1>




<!-- Modal -->
<div
class="modal fade"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agregar al personal</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


       <form class="form-flex" role="form">
        <!-- [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" -->


       




        <!-- <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input id="nombre" type="text" required  name="nombre" [(ngModel)]="newUser.nombre">
           formControlName="nombre" -->
       <!--</div> -->

         <!-- <div class="form-group">
          <label for="ape_p">Apellido Paterno:</label>
          <input id="ape_p" type="text" required  formControlName="apellido_paterno" [(ngModel)]="newUser.apellido_paterno">
          
        </div> -->
<!--
        <div class="form-group">
          <label for="ape_m">Apellido Materno:</label>
          <input id="ape_m" type="text" required required required formControlName="apellido_materno">
        </div> -->

        <!-- <div class="form-group">
          <label for="inputState"
          >Nombre <span class="text-danger">*</span></label
        >
        <select id="inputState" class="form-control">
          <option selected>Selecciona una hora</option>
          <option value="1">Carlos Ruiz</option>
          <option value="2">Ricardo Arjona</option>
          <option value="2">Luis Herrera</option>
        </select>
        </div> -->
       
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
      >
        Cancelar
      </button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" >Agregar</button>
      <!-- (click)="addUser()" -->

      <!-- (click)="onSubmit()" -->
    </div>
  </div>



</div>
</div>


