<h1>-</h1>

<div class="container">
    <h2 class="h2">Plantilla de correo</h2>
    
  
  <div class="sasar">
    <p class="text-center texto-p">SASAR</p>
  </div>

  <div class="borde">

  <h5>Estimado: Usuario</h5>

  <p>Se le ha asignado el turno que corresponde al documento con el folio:</p>
  <span class="folio">123-ABCD</span>

  <p class="bold">Detalles de su cita:</p>

  <div class="tabla">

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo de Reunión</th>
            <th scope="col">Hora</th>
            <th scope="col">Modalidad</th>
            <th scope="col">Servidor Público a Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> XX </th>
            <td>15/06/2023</td>
            <td> Sesión Informativa </td>
            <td> 11:00 hrs </td>
            <td> Virtual </td>
            <td> XXXXXXXX </td>
          </tr>
        </tbody>
      </table>

  </div>

  <p>Para poder confirmar, dar clic en el boton de abajo</p>

  <p class="bold">Sin otro particular, reciba un cordial saludo</p>

  
  <button type="button" class="btn btn-primary btn-lg btn-block">Confirma tu cita aquí</button>

  <p class="link">Link de reunion: <span class="nota"> https://meet.jit.si/moderate/?id_herramientas/generador-de-enlaces/</span></p>

  <p class="link">Contraseña: <span class="nota">p4ssw0rd</span></p>
  
  <p class="link">*Nota: <span class="nota">En caso de presentar fallas técnicas derivadas de su conectividad a internet al momento de atender la reunión. ASEA no se hace responsable</span></p>

</div>
</div>

<h1>-</h1>
